@font-face {
  src: url("../vendor/fonts/CabinetGrotesk-Bold.woff") format("woff");
  font-family: "Cabinet Grotesk";
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1360px;
  height: 40px;
  padding: 0 0 28px 0;
}
.header__logo {
  width: 89px;
  height: 40px;
  margin: 0 24px 0 0;
}
.header__date {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  margin: 0;
}
.header__btn {
  width: 135px;
  background: none;
  border: none;
  margin: 0 20px 0 auto;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}
.header__user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__user {
  width: 157px;
  margin: 0 12px 0 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}
.header__avatar {
  margin: 0;
}
