@font-face {
  src: url("../vendor/fonts/CabinetGrotesk-Bold.woff") format("woff");
  font-family: "Cabinet Grotesk";
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1360px;
  height: 40px;
  padding: 0 0 28px 0;
}
.header__logo {
  width: 89px;
  height: 40px;
  margin: 0 24px 0 0;
}
.header__date {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  margin: 0;
}
.header__btn {
  width: 135px;
  background: none;
  border: none;
  margin: 0 0 20px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}
.header__user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__link {
  text-decoration: none;
}
.header__user {
  max-width: 157px;
  margin: 0 12px 0 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}
.header__avatar {
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar__placeholder {
  width: 40px;
  height: 40px;
  background-color: #00000033;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  border: solid 1px #00000080;
}

.header__sign-up {
  padding: 0;
  width: 68px;
  height: 24px;
  border: none;
  background: none;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}

.header__log-in {
  padding: 0;
  width: 53px;
  height: 24px;
  margin: 0 0 0 20px;
  border: none;
  background: none;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}
