@font-face {
  src: url("../vendor/fonts/CabinetGrotesk-Bold.woff") format("woff");
  font-family: "Cabinet Grotesk";
}

.item-card {
  position: relative;
}

.item-card__name {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0%;
  color: #00000099;
  border-radius: 4px;
  background-color: #fff;
  padding: 0 12px;
  text-align: center;
}

.item-card__img {
  width: 328px;
  height: 328px;
  border: 1px solid #0000004d;
  border-radius: 8px;
}

.item-card__like-btn {
  height: 18px;
  width: 15px;
  border: none;
  background: none;
}
.item-card__name-like-container {
  position: absolute;
  top: 17px;
  left: 137px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hidden_like-btn {
  visibility: hidden;
}
