@font-face {
  src: url("../vendor/fonts/CabinetGrotesk-Medium.woff") format("woff");
  font-family: "Cabinet Grotesk";
}
@font-face {
  src: url("../vendor/fonts/CabinetGrotesk-Bold.woff") format("woff");
  font-family: "Cabinet Grotesk";
}

.main {
  display: flex;
  flex-direction: column;
}
.main__weather-card {
  margin: 0 0 40px;
}

.cards {
  margin: 0 0 171px;
}

.main__text {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0%;
  margin: 0 0 34px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  gap: 20px;
  max-width: 1360px;
  justify-content: center;
  padding: 0;
}
